@font-face {
    font-family: 'cmu_serifroman';
    src: url('cmunrm-webfont.eot');
    src: url('cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
        url('cmunrm-webfont.woff2') format('woff2'),
        url('cmunrm-webfont.woff') format('woff'),
        url('cmunrm-webfont.ttf') format('truetype'),
        url('cmunrm-webfont.svg#cmu_serifroman') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'cmu_serifbold';
    src: url('cmunbx-webfont.eot');
    src: url('cmunbx-webfont.eot?#iefix') format('embedded-opentype'),
        url('cmunbx-webfont.woff2') format('woff2'),
        url('cmunbx-webfont.woff') format('woff'),
        url('cmunbx-webfont.ttf') format('truetype'),
        url('cmunbx-webfont.svg#cmu_serifbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_typewriter_textregular';
    src: url('cmuntt-webfont.eot');
    src: url('cmuntt-webfont.eot?#iefix') format('embedded-opentype'),
        url('cmuntt-webfont.woff2') format('woff2'),
        url('cmuntt-webfont.woff') format('woff'),
        url('cmuntt-webfont.ttf') format('truetype'),
        url('cmuntt-webfont.svg#cmu_typewriter_textregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alagard';
    src: url('Alagard.woff2') format('woff2'),
        url('Alagard.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.imgur.com/qlb7gqc.png');
    background-size: repeat;
    margin-left: 1in;
    margin-right: 1in;
}
.papyrus-container {
    margin: 0;
    position: absolute;
    top: 120%; /* hmmm */
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 50%;
    height: 100vh; */
    overflow-y: scroll;
    background-image: url("https://i.imgur.com/E6I9A3t.png");
    background-repeat: repeat;
    box-sizing: border-box;
    padding: 2.5% 5%;
}

a {
    text-decoration: none;
    color: blue;
}

code {
    font-family: 'cmu_typewriter_textregular', Courier, monospace;
}

.par-title {
    font-family: 'cmu_serifbold', Arial, Helvetica, sans-serif;
    margin-right: 2.5%;
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: 'cmu_serifbold', Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 700;
    margin: 5px 0;
}

p:first-child {
    margin-top: 0;
}

p {
    margin: 10px 0;
}

.par-with-title {
    margin: 20px 0;
}

.papyrus-container::-webkit-scrollbar {
    display: none;
}

.base::-webkit-scrollbar {
    display: none;
}

.line {
    height: 1px;
    background: black;
    margin: 5% 0;
}

.content {
    color: black;
    font-size: 1.3vw;
    font-family: 'cmu_serifroman' , Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* padding: 10px;
    border-radius: 10px; */
}

/* people.html styling */
.figure-block {
    display: block;
    margin: 5% 0;
    background-color: grey;
}

.figure-image img {
    margin: 2.5%;
    width: 30%;
    height: auto;
    float: right;

    border: 15px double #662f1b;
    background: #86452d;
}

.scholar-image img {
    margin: 2.5%;
    width: 30%;
    height: auto;
    float: left;

    border: 15px double #a0a0a0;
    background: #c9c9c9;
}

.figure-name {
    font-family: 'Alagard', Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-align: left;
}

.important-figure > div {
    padding-left: 2%;
    text-align: justify;
}

.important-figure > div:not(:first-child):not(:last-child) {
    margin: 5% 0;
}

.important-figure > div:first-child {
    padding-top: 2.5%;
}

.important-figure > div:last-child {
    padding-bottom: 2.5%;
}

.important-figure > div:last-child {
    font-family: 'cmu_typewriter_textregular', Courier, monospace;
    text-align: center;
}

/* venues.html (table) styling */
table {
    border: 6px double #a0a0a0;
    background: #c9c9c939;
    border-collapse: collapse;

    font-family: 'cmu_serifroman' , Arial, Helvetica, sans-serif;
    font-weight: 600;

    text-align: center;
    font-size: large;
}

tr:not(:first-child) {
    border: 1px solid #2b2b2b;
}

tr > *:first-child {
    padding: 3%;
}

li:not(:first-child):not(:last-child) {
    margin: 10px 0;
}

/* connections.html styling */
b {
    font-family: 'cmu_serifbold', Arial, Helvetica, sans-serif;
    font-weight: 800;
}

li {
    text-align: justify;
}

